body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #87d4c5;
}
.skill-row{
  width: 50%;
  margin: 150px auto 150px auto;
  text-align: left;
}
.skills_img{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.skills_gif{
  width: 25%;
  float: right;
  margin-left: 30px;
}
p {
  line-height: 2;
}

.heading{
  color: #EAF6F6;
}

.CS {
  text-decoration: underline;
}

h1 {
  font-family: 'Sacramento', cursive;
  margin-top: 0;
  font-size: 3.75rem;
  color: #162447;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #1f4068;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #1f4068;
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background_img {
  width: 100%;
}

.profile img {
  height: 200px;
  width: 200px;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  margin: 50px auto;
}
.middle-container{
  margin: 100px 0;
}
.intro{
  width: 20%;
  margin: auto;
}
.contact-msg{
  width: 40%;
  margin: 40px auto 60px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.bottom-container{
  background: #2bc4ad;
  padding: 50px 0 20px;
}
a{
  color: #162447;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.copyright{
  color: #EAF6F6;
  padding: 20px 0;
}
